#test1{
    background-color: pink; /*배경 색상*/
    display: flex; /*정렬 전 유연화*/
    justify-content: center; /*가로 정렬*/
    align-items: center; /*세로 정렬*/
}
#test2{
    background-color: rgb(92, 64, 26); /*배경 색상*/
    width: 100%; /*가로 길이*/
    height: 100vh; /*세로 길이*/
    display: flex; /*정렬 전 유연화*/
    justify-content: center; /*가로 정렬*/
    align-items: center; /*세로 정렬*/
    gap: 30px; /*박스 사이 간격*/
}
#test3{
    background-color: pink; /*배경 색상*/
    width: 100%;
    min-height: 100vh; /*전체화면 줄어들더라도 100vh 값 유지*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0; /*영역 내부의 남는 공간*/
}
.Apink{
    height:100vh;
}
.profile{
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}
.profile img{
    width: 75%; /*가로 길이*/
    height: auto; /*세로 길이*/ /*맞춤*/
    border-radius: 10px;
}
.text h1{
    font-size: 100px; /*글자 크기*/
    color: rgb(51, 27, 15);
    margin-bottom: -10px; /*영역 외부의 남는 공간*/
}
.text p{
    font-size: 25px;
    color: rgb(51, 27, 15);
    word-break: keep-all; /*단어 줄바꿈 방식 정함*/
}
.box{
    width: 400px;
    height: 700px;
    background-color: white;
    border: 1px solid #ccc; /*테두리 변형*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; /*모서리 둥글게*/
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.photo{
    display: grid; /*grid: 격자점이 생긴다. 눈엔 안보임*/
    grid-template-columns: repeat(3, 1fr); /*열 너비 설정*/
    grid-template-rows: repeat(2,auto); /*행 높이 설정*/
    justify-items: center;
    gap: 20px;
}
.photo img{
    width: 300px;
    height: 300px;
    object-fit: cover; /*비율 유지, 화면 꽉차게 조정*/
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,1); /*그림자*/
    transition: transform 0.3s; /*애니메이션 효과*/ /*0.3초의속도*/
}
.photo img:hover{ /*마우스를 가까이댔을떄*/
    transform: scale(1.05);
}
.box h1{
    margin: 0 0 15px 0;
   font-size: 50px;
   margin-bottom: 15px;
   color: rgb(92, 64, 26);
}
.box img{
    width: 300px;
    height: auto; 
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}
.box p{
    font-size: 20px;
    word-break: keep-all;
    color: rgb(116, 107, 85);
    margin-bottom: 15px;
}
.box a{
    color:indianred;
    font-weight: 600;
    padding: 10px 20px;
    border: 1px solid #ff69b4;
    border-radius: 30px;
    text-decoration: none; /*링크 밑줄 제거*/
    transition: 0.3s;
}
.box a:hover{
    color:rgb(92, 64, 26);
    background-color: #ff69b4;
    font-weight: bold;
    transform: scale(1.05);
}

/*질문사항: 몰라요 사진만 사이즈,보더 안먹음*/
/*자막 및 이미지 일정한 높이로 정렬*/
